#Image{
margin-right: 200px;
    
}
#audo{
margin-top: 100px
}
#Iframe{
margin-left: 100px;
}
.library{
height: 500px;
width: 500px;
}
.Audo{
height: 500px;
width: 500px;
}
#Play{
height: 500px;
width: 500px;
}
